[package]
edition = "2018"
name = "quill"
version = "0.1.4"
authors = ["James Hawley <jamesrichardhawley@gmail.com>"]
description = "Query all your bills and accounts to check on your statements."

[dependencies]
chrono = {version = "0.4", features = ["serde"]}
kronos = "0.1.4"
itertools = "0.9"
toml = "0.5"
serde = {version = "1.0", features = ["derive"]}
clap = "2"
prettytable-rs = "0.8.0"
