[package]
edition = "2018"
name = "quill"
version = "0.3.0"
authors = ["James Hawley <developer@jrhawley.ca>"]
description = "Query all your bills and accounts to check on your financial statements."

[dependencies]
chrono = { version = "0.4.19", features = ["serde"] }
clap = "2.33.3"
crossterm = "0.20.0"
home = "0.5.3"
itertools = "0.10.1"
kronos = "0.1.4"
serde = { version = "1.0.126", features = ["derive"] }
toml = "0.5.8"
tui = { version = "0.15.0", default-features = false, features = ['crossterm'] }
